body {
  padding-top: 75px;
  padding-bottom: 75px;
}
label {
  font-weight: bold;
}
a,
a:hover {
  text-decoration: none;
}
ul {
  font-size: 22px;
  list-style: none;
}
.list-pad {
  line-height: 4;
}
.item-right {
  right: 0;
}
.front {
  z-index: 10;
}
